*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*
    display: grid;
    place-items: center;*/

    background-image: url('photo_profil/mur_bois_2.png');
    background-size: cover;
    /*background-color: #34491c;*/
    color: #4B5943;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    width: 100%;
}

/* navigation et header  */

.nav{
    display: inline-block;
    background-color: #711D1B;
    width: 100%;
}
.nav-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link,li {
    display: inline-block;
    margin-left: 10px;
}
.nav-link,li,a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(75, 61, 4);
    padding: 10px 15px;
    display: inline-block;
}
.deconnect{
    background-color: #45a049;
    color: #8FB43A;
}


/*   formulaires  */
.inscrip{
    margin: auto;
    width: 50%;
    height: auto;
    background-image: url('photo_profil/mur_acier.png');
    background-size: cover;
    /*background-color: rgba(146, 185, 156, 0.164);*/
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 4%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.897), -1em 0 0.3em rgb(97, 52, 1);
    border: solid 4px #706a6a;
}
#image_{
    background-color: #62af65;
}
input, label{
    display: grid;
    place-items: center;
    padding: 10px;
    margin: auto;
}
.connect{
    margin: auto;
  
    width: 380px;
    background-color: #306b08;
    color: rgb(97, 152, 201);
    margin-top: 12px;
    margin-bottom: 20px;
}
.erreurs{
    display: grid;
    place-items: center;
    width: auto;
    background-color: #920505;
    color: aliceblue;    
}

/*tableau de bord*/
.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    background-image: url('photo_profil/mur_bois.png');
    background-size: cover;
    /*background-color: #532B2B;*/
    padding: 20px 30px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid 2px #132A13;
}
h2 {
    font-size: 39px;
    color: #9e6161;
    text-shadow: #16333a 2px 3px;
}
.dash{
    color: #311d1d;
}
.dashboard{
    font-size: 25px;
    color: #0b323b;
    text-decoration: none;
}
.dashboard:hover {
    text-decoration: underline;
}
.question_photo{
    display: inline;
    width: 80px;
    height: 80px;
    border-radius: 8%;
    object-fit: cover;
    margin-right: 15px;
}
.photo_profil{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}



/* question accueil */
.container {
    display: inline;
    background-color: #8bc78b;
    justify-content: space-evenly;
    text-align: justify;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    margin-bottom: 30px;
}
.container, p{
    text-align: center;
}
.question {
    display: inline-block;
    background-image: url('photo_profil/fond_ecran_3.png');
    background-size: cover;
    /*background-color: rgb(199, 186, 186);*/
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px #abd7e0;
    border:2px solid #290409;
    border-radius: 0px 40px 40px 20px;
    width: 1000px;
    height: auto;
}

.question-images {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10px 0;
}
.question-images img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 5px;
}
.question-theme {
    font-size: medium;
    font-weight: bold;
    color: #333;
}
.question-text, h5 {
    font-size: 1em;
    margin: 8px 0;
    max-width: 800px;
    color: #290409;
}
.question-author {
    background-color: #467046;
    color: #8aaf8a;
    font-weight: bolder;
    font-size: 1em;
}
.reply-button {
    background-color: #219485;
    color: rgb(13, 73, 16);
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.reply-button:hover {
    background-color: #62af65;
}
.reponses{
    width: 1000px;
    margin-bottom: 15px;
    background-color: #91a4a8;
    box-shadow: 10px 5px 5px #abd7e0;
    border:2px solid #290409;
    border-radius: 40px 0px 40px 20px;
    padding: 15px;
    margin-left: 20px;
}
/* p h1 h2 ext...*/
h1 {
    display: grid;
    place-items: center;
    color: #290409;
    text-shadow: #91a4a8 2px 3px;
    margin-top: 25px;
    text-decoration-line: underline;
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: bold;
}

p { 
    font-weight: bold;
    font-size:x-large;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #aacc86;   
    text-shadow: #0b323b 2px 3px;
 }

/*se desinscrire*/
.warning {
    color: #f44336;
    margin-bottom: 20px;
}
.button-group {
    margin-top: 20px;
}
.confirm-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.cancel-button {
    background-color: #999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*  footer */
footer { 
    display: inline-block;   
    width: 100%;
    background-color: #132A13; 
    color:#B9CFD0;  
    border: 1px solid #467046;
    margin-top: 100px;  
    margin-bottom: 10px;
}
.footer-link,li,a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #B9CFD0;
    padding: 10px 15px;
    display: inline-block;
}
.p-footer{
    color: #91a4a8;
    font-size: small;
}
